:root {
  --color-bg: #f0f4fc;
  --color-webgl-bg: rgb(121, 148, 248);
  --color-title: #1f4284;
  --color-subtitle: #727272;
  --color-btn-bg: #244c98;
  --color-btn-title: #ffffff;

  --paddingBlock: 3.6rem;
  --paddingInline: 4rem;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  container-type: inline-size;

  height: 100dvh;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*,
*::before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  container-type: inline-size;

  height: calc(100% - var(--paddingBlock) * 2);

  margin-block: var(--paddingBlock);
  margin-inline: var(--paddingInline);

  border-radius: 1rem;

  overflow: hidden;

  .page__content {
    --padding-left: 7.2rem;
    display: grid;
    place-content: center;
    gap: 1.8rem;

    padding-inline: var(--padding-left);

    background-color: var(--color-bg);

    .btn {
      --padding-top: 1.2rem;
      --padding-left: 2.4rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      position: relative;

      margin-top: 1.8rem;

      width: min(
        37.7rem,
        calc(100% - var(--padding-top) - var(--padding-left))
      );

      font-size: clamp(1.5rem, 3vw, 1.8rem);
      font-weight: 400;

      padding: var(--padding-top) var(--padding-top) var(--padding-top)
        var(--padding-left);

      border-radius: 6rem;
      outline: 0;
      border: 0;

      color: var(--color-btn-title);
      background-color: var(--color-btn-bg);

      cursor: pointer;

      overflow: hidden;

      > * {
        z-index: 1;
      }

      > div {
        display: grid;
        place-items: center;

        width: 4rem;
        aspect-ratio: 1;

        border-radius: 50%;
        background-color: var(--color-btn-title);

        transition: border-radius 0.2s linear;
      }

      > div > i {
        color: var(--color-title);
        background-color: var(--color-btn-title);
      }
    }

    .btn::before {
      content: '';
      position: absolute;
      top: -180%;
      left: -50%;
      width: 100%;
      height: 100%;

      rotate: -45deg;

      background-color: var(--color-webgl-bg);

      transition: top 0.2s linear, rotate 0.2s linear, left 0.2s linear;
    }

    .btn:hover div {
      border-radius: 1rem;
    }

    .btn:hover::before {
      top: 0;
      left: 0;
      rotate: -0deg;
    }

    .btn:focus-visible {
      outline: 2px solid var(--color-webgl-bg);
    }

    .btn:active {
      outline: none;
    }
  }

  .page__title {
    font-size: clamp(1.7rem, 3vw, 3rem);
    font-weight: 500;
    color: var(--color-title);
  }

  .page__subtitle {
    width: min(49ch, 100%);
    font-size: clamp(1.3rem, 3vw, 1.7rem);

    color: var(--color-subtitle);
  }

  .page__webgl {
    width: 100%;
    height: 100%;
    overflow: hidden;

    cursor: pointer;
  }
}

@container (max-width: 768px) {
  .page {
    --paddingBlock: 2.4rem;
    --paddingInline: 2.4rem;

    grid-template-columns: 1fr;

    .page__content {
      --padding-left: 2.4rem;

      padding: var(--padding-left);
    }
  }
}

@container (max-width: 375px) {
  .page {
    --paddingBlock: 1.4rem;
    --paddingInline: 2.4rem;
  }
}
